html, body {
  height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    flex: 1 0 auto;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul {
    padding-left: 0;
}

footer {
    height: 40px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #222;
    color: whitesmoke;
}

.sortable-header {
    text-decoration: underline;
}

.sortable-header:hover {
    cursor: pointer;
}
